<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New product</title>
</head>
<body>
<form th:object="${product}" th:action="@{/products/create?categoryId={categoryId}(categoryId=${product.category.id})}" method="post">
    <input type="hidden" name="id" id="id" th:field="*{id}">
    <p><input name="categoryId" id="categoryId" th:field="*{category.id}" disabled></p>
    <p>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" th:field="*{name}" />
    </p>
    <p>
        <label for="category">Category</label>
        <input type="text" id="category" name="category" th:field="*{category.name}" disabled />
    </p>
    <p>
        <label for="price">Price</label>
        <input type="number" id="price" name="price" th:field="*{price}" />
    </p>
    <p>
        <label for="description">Description</label>
        <input type="text" id="description" name="description" th:field="*{description}" />
    </p>
    <input type="submit" />

</form>
</body>
</html>