<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Category</title>
</head>
<body>

<form th:object="${category}" th:action="@{/categories/save}" method="post">
    <input type="hidden" name="id" id="id" th:field="*{id}">
    <p>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" th:field="*{name}"/>
    </p>
    <p>
        <label for="description">Description</label>
        <input type="text" id="description" name="description" th:field="*{description}"/>
    </p>
    <input type="submit"/>
</form>

<a th:href="@{/products/create?categoryId={categoryId}(categoryId=${category.id})}">Create new Product</a>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>

    <tr th:each="prod : ${category.products}">
        <td th:text="${prod.id}"></td>
        <td th:text="${prod.name}"></td>
        <td th:text="${prod.description}">Desc</td>
        <td th:text="${prod.price}">123.00</td>
    </tr>

</table>

</body>
</html>

<!--<a th:href="@{/products/edit?id={id}(id=${prod.id})}" -->
