<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients products</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
    </tr>

    <tr th:each="prod : ${client.productList}">
        <td th:text="${prod.id}">1</td>
        <td th:text="${prod.name}">Product</td>
        <td th:text="${prod.description}">Desc</td>
        <td th:text="${prod.price}">123.00</td>
    </tr>
</body>
</html>